<div class="security-pattern"></div>

<div class="binary">01100110 01110010 01100001 01110101 01100100</div>
<div class="binary">01100100 01100101 01110100 01100101 01100011 01110100</div>
<div class="binary">
  01110011 01100101 01100011 01110101 01110010 01101001 01110100 01111001
</div>

<div class="container">
  <div class="chatbot">
    <div class="antenna"></div>
    <div class="chatbot-body">
      <div class="chatbot-face">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
      <div class="mouth"></div>
      <div class="scan-error"></div>
    </div>
  </div>

  <h1 class="glitch">404</h1>
  <!-- <h2>Suspicious Activity Detected</h2> -->
  <p>
    Looks like the page you were looking for is no longer here or does not exist
    But you can click the button below to go back to the homepage.
  </p>
  <a href="/login" class="btn">Return to Secure Area</a>
</div>
